<!-- page -->
<div class="services-breadcrumb">
  <div class="agile_inner_breadcrumb">
    <div class="container">
      <ul class="w3_short">
        <li>
          <a href="/">Home</a>
          <i>|</i>
        </li>
        <li>Thông tin tài khoản</li>
      </ul>
    </div>
  </div>
</div>
<!-- //page -->
<div class="container mt-4">
  <div class="row">
    <div class="col-md-3 bg-cus-user">
      <div class="user-info">
        <img src="/public/images/customer/avatar.png" alt="Avatar customer" />
        <div class="info-customer">
          Tài khoản của
          <strong>{{account.fullname}}</strong>
        </div>
      </div>
      <ul class="tabs nav flex-column">
        <li class="tab-item active">
          <i class="tab-icon fas fa-user"></i>
          Thông tin tài khoản
        </li>
        <li class="tab-item">
          <i class="tab-icon fas fa-book"></i>
          Quản lý đơn hàng
        </li>
        <li class="tab-item">
          <i class="tab-icon fas fa-map-marker-alt"></i>
          Sổ địa chỉ
        </li>
        <li class="tab-item">
          <i class="tab-icon far fa-address-book"></i>
          Tạo Sổ địa chỉ
        </li>
        <li class="tab-item">
          <i class="tab-icon fas fa-cogs"></i>
          Thay đổi mật khẩu
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="tab-content">
        <div class="tab-pane active">
          <h2>Thông tin tài khoản</h2>
          <form action="#" method="get" id="form-change-profile">
            <div class="form-gp">
              <div class="form-element">
                <label class="input-label input-label-center">Họ và tên</label>
                <input
                  type="text"
                  class="form-control"
                  name="fullName"
                  placeholder="Nhập họ tên..."
                  value="{{account.fullname}}"
                />
              </div>
              <small class="form-text text-danger"></small>
            </div>
            <div class="form-gp">
              <div class="form-element">
                <label
                  for="phoneNumber"
                  class="input-label input-label-center"
                >Số điện thoại</label>
                <input
                  type="text"
                  class="form-control"
                  name="phone"
                  placeholder="Nhập số điện thoại..."
                  value="{{account.phone}}"
                />
              </div>
              <small class="form-text text-danger"></small>
            </div>
            <div class="form-gp">
              <div class="form-element">
                <label
                  for="email"
                  class="input-label input-label-center"
                >Email</label>
                <input
                  type="text"
                  class="form-control"
                  name="email"
                  value="{{account.email}}"
                  readonly
                />
              </div>
              <small class="form-text text-danger"></small>
            </div>
            <div class="form-gp">
              <div class="form-element">
                <label class="input-label line-height-26">Giới tính</label>
                {{{genderChecked account.gender}}}
              </div>
              <small class="form-text text-danger"></small>
            </div>
            <div class="form-gp">
              <div class="form-element">
                <label for="date" class="input-label line-height-26">Ngày sinh</label>
                <input
                  name="dateOfBirth"
                  type="date"
                  value="{{dateToString account.dateOfBirth}}"
                />
              </div>
              <small class="form-text text-danger"></small>
            </div>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
          </form>
        </div>
        <div class="tab-pane">
          <h2>Đơn hàng của tôi</h2>
          <div class="inner">
            <table>
              <thead>
                <tr>
                  <th class="text-center">Mã đơn hàng</th>
                  <th class="text-center">Ngày mua</th>
                  <th class="text-center">Số lượng sản phẩm</th>
                  <th class="text-center">Tổng tiền</th>
                  <th class="text-center">Trạng thái đơn hàng</th>
                </tr>
              </thead>
              <tbody>
                {{#each orders}}
                  <tr>
                    <td class="text-center pt-2 pb-2" id="order-detail">
                      <a href="#" data-id="{{this._id}}">{{this._id}}</a>
                    </td>
                    <td class="text-center pt-2 pb-2">{{dateToString
                        this.createdAt
                      }}</td>
                    <td class="text-center pt-2 pb-2">{{lenght
                        this.details
                      }}</td>
                    <td class="text-center pt-2 pb-2">{{convertToVND
                        this.sumPrice
                      }}
                      VNĐ</td>
                    <td class="text-center pt-2 pb-2">
                      <span {{{addColorTextStatus this.status}}}>{{convertStatusText this.status}}</span>
                      {{{conditionEqualStatus this._id this.status 2}}}
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane" id="addresses">
          <h2>Sổ địa chỉ</h2>
          <div class="inner">
            {{#each account.addresses}}
              <div class="item">
                <div class="info">
                  <div class="name">{{this.name}}
                    <span>
                      {{#if this.active}}
                        <svg
                          stroke="currentColor"
                          fill="currentColor"
                          stroke-width="0"
                          viewBox="0 0 512 512"
                          height="1em"
                          width="1em"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m140.204 130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346 303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719 22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781 91.516c4.667 4.705 12.265 4.736 16.97.068l172.589-171.204c4.704-4.668 4.734-12.266.067-16.971z"
                          >
                          </path>
                        </svg>
                        <span>Địa chỉ mặc định</span>
                      {{/if}}
                    </span>
                  </div>
                  <div class="address">
                    <span>Địa chỉ: </span>
                    {{this.address}}
                  </div>
                  <div class="phone">
                    <span>Điện thoại: </span>
                    {{this.phone}}
                  </div>
                </div>
                <div id="action-address">
                  {{#if this.active}}{{else}}
                    <a class="default" href="#" data-id="{{this._id}}">Mặc định</a>
                    <a class="detele" href="#" data-id="{{this._id}}">Xóa</a>
                  {{/if}}
                </div>
              </div>
            {{/each}}
          </div>
        </div>
        <div class="tab-pane">
          <h2>Tạo sổ địa chỉ</h2>
          <form action="#" method="post" id="form-create-address">
            <div class="form-gp">
              <div class="form-element">
                <label class="input-label input-label-center">Họ và tên</label>
                <input type="text" class="form-control" name="fullname" autocomplete="on" placeholder="Nhập họ tên..." >
              </div>
              <small class="form-text text-danger"></small>
            </div>
            <div class="form-gp">
              <div class="form-element">
                <label for="phoneNumber" class="input-label input-label-center">Số điện thoại</label>
                <input type="text" class="form-control" name="phone" autocomplete="on" placeholder="Nhập số điện thoại..." >
              </div>
              <small class="form-text text-danger"></small>
            </div>
            <div class="form-gp">
              <div class="form-element">
                <label for="phoneNumber" class="input-label input-label-center">Địa chỉ</label>
                <textarea 
                name="address"
                placeholder="Nhập địa chỉ"
                rows="2"
                style="
                    outline-color: #80bdff;
                "
                 ></textarea>
              </div>
              <small class="form-text text-danger"></small>
            </div>
            <button type="submit" class="btn btn-primary">Lưu lại</button>
          </form>
        </div>
        <div class="tab-pane">
          <h2>Thay đổi mật khẩu</h2>
          <form action="#" method="post" id="form-change-password">
            <div class="form-gp d-flex">
              <label class="input-label">Mật khẩu cũ</label>
              <input
                type="password"
                name="oldPassword"
                class="form-control"
                autocomplete="on"
                placeholder="Nhập mật khẩu cũ"
              />
            </div>
            <div class="form-gp d-flex">
              <label class="input-label">Mật khẩu mới</label>
              <input
                type="password"
                name="passwordNew"
                class="form-control"
                autocomplete="on"
                placeholder="Mật khẩu mới từ 6 đến 32 ký tự"
              />
            </div>
            <div class="form-gp d-flex">
              <label class="input-label">Nhập lại</label>
              <input
                type="password"
                name="passwordConfirm"
                class="form-control"
                autocomplete="on"
                placeholder="Nhập lại mật khẩu mới"
              />
              <div class="invalid-feedback">Nhập lại mật khẩu mới</div>
            </div>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
          </form>
        </div>
        <div class="tab-pane" id="order-details">
          {{> orderDetails}}
        </div>
      </div>
    </div>
  </div>
</div>